<h1>カラー</h1>
<!-- form_for部分 -->
<%= form_for @color do |f| %>
    <h2>カラー追加</h2>
    <%= f.text_field :color_name %>
    <%= f.submit '投稿' %>
<% end %>

<h2>カラー一覧</h2>
<% @colors.each do |c| %>
 <%= c.color_name %>
 <%= link_to "edit", edit_color_path(c) %>

  <% if c.items.presence != nil %>
    利用アイテムあり。削除不可 <br>
    <% else %>
   <%= link_to "destroy", color_path(c), method: :delete %><br>
   <% end %>

<% end %>

<br>
<%= link_to "一覧へ戻る", items_path %>　｜　<%= link_to '投稿フォームへ戻る', new_item_path %>