<br><br><br><div class="row">
  <h2>商品登録</h2>
  <%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
        <div id="error_explanation">
        <h2><%= @item.errors.count %>件のエラーが発生しました。</h2>
        <ul>
        <% @item.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

      <div class="col-sm-8">
        表示・非表示　　<%= f.select :active, Item.actives_i18n.keys.map { |k| [Item.actives_i18n[k], k]} %>
      </div>

    　<div class="col-sm-8">
        商品画像1　　　<%= f.attachment_field :image %>
      </div>

    　<div class="col-sm-8">
        商品画像2　　　<%= f.attachment_field :image2 %>
      </div>

      <div class="col-sm-8">
        商品名　　　　　<%= f.text_field :item_name, class:"form-control", rows:"3" %>
      </div>
       <div class="col-sm-8">
        ブランド　　　　<%= f.collection_select :brand_id, Brand.all, :id, :brand_name %><%=link_to("編集",brands_path)%><br>
      </div>
       <div class="col-sm-8">
        カラー　<%= f.collection_select :color_id, Color.all, :id, :color_name %><%=link_to("編集",colors_path)%><br>
        サイズ　<%= f.collection_select :size_id, Size.all, :id, :size_name %><%=link_to("編集",sizes_path)%><br>
      </div>
       <div class="col-sm-8">
        カテゴリー　　　<%= f.collection_select :category_id, Category.all, :id, :name %><%=link_to("編集",categories_path)%>
      </div>
      <div class="col-sm-8">
        価格　　　　　　<%= f.text_field :price, class:"form-control", rows:"3" %>
      </div>
      <div class="col-sm-8">
        在庫数　　　　　<%= f.text_field :stock, class:"form-control", rows:"3" %>
      </div>
      <div class="col-sm-8">
        紹介文　　　　　<%= f.text_area :description, class:"form-control", rows:"3" %>
      </div>
      <div class="col-sm-8">
        発売日　　　　　<%= f.date_field :release_date, class:"form-control", rows:"3" %>
      </div>

    <div class="col-sm-8">
    <%= f.submit "送信", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
    </div>
     <div class="col-sm-8">
      <br><br>
    <h3><%= link_to"一覧に戻る", "/" %></h3>
    </div>
  </div>
  <% end %>